language: java
jdk:
  # - oraclejdk7
  - openjdk7
sudo: required
dist: trusty
addons:
  chrome: stable
install: # Install ChromeDriver.
  - wget -N http://chromedriver.storage.googleapis.com/2.30/chromedriver_linux64.zip -P ~/
  - unzip ~/chromedriver_linux64.zip -d ~/
  - rm ~/chromedriver_linux64.zip
  - ls -l ~/
  - sudo mv -f ~/chromedriver /usr/local/share/
  - sudo chmod +x /usr/local/share/chromedriver
  - sudo ln -s /usr/local/share/chromedriver /usr/local/bin/chromedriver
script:
  - mvn clean install -Dwebtests.verbose=true -Dwebdriver.chrome.driver=$CHROMEDRIVER -Dwebtests.video.enabled=true -Dwebtests.video.dir=$PWD/web/target/videos
