version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.5.3

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:erbium

jobs:
  build:
    <<: *defaults

    steps:
      - checkout
      - persist_to_workspace:
          root: ~/repo
          paths: .

  webtests:
    working_directory: ~/repo
    docker:
      - image: cimg/openjdk:17.0-browsers

    steps:
      - attach_workspace:
          at: ~/repo
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - browser-tools/install-firefox
      - browser-tools/install-geckodriver
      - run:
          command: |
            sudo apt-get update
            sudo apt-get install ffmpeg
          name: install FFMPG
      - run:
          command: |
            google-chrome --version
            chromedriver --version
            ps -efa | grep Xvfb
          name: Check install
      - run:
          command: cd testapp && ./http-server.sh
          background: true
      - run: mvn clean install
      - store_artifacts:
          path: ~/repo/core/target/surefire-reports
      - store_artifacts:
          path: ~/repo/core/target/webtests-videos

workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore: /^gh-pages$/
      - webtests:
          requires:
            - build
